body, html{
  height:100%;
  background-color: #121212;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: 1100px 1000px;
  font-family: Tahoma,Geneva,Kalimati,sans-serif;
  color: rgb(22, 29, 29);
  height: 80vh;
  width: 80vw;

}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addSlidingButton, .addBouncyButton {
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
  align-items: center;
  justify-content: center;
}
.title{
  background-color: #777;
}
.dancer{
  border:25px solid #689877;
  border-radius:25px;
  position:absolute;
}

.sliding-dancer{
  border:0px;
  background-color:#7799c9;
  width: 50px;
  height: 50px;
  position:absolute;
}


.bouncy-dancer{
    /*background-color: #61ab20;*/
    margin-top: 500px;
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    border:0px;
    border-radius: 50px;
    background-color: #3673cf;
    -webkit-animation: moveX 1.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    -moz-animation: moveX 1.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    -o-animation: moveX 1.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
    animation: moveX 1.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  }
/*
  @-webkit-keyframes moveX {
    from { left: 0; } to { left: 170px; }
  }
  @-moz-keyframes moveX {
    from { left: 0; } to { left: 170px; }
  }
  @-o-keyframes moveX {
    from { left: 0; } to { left: 170px; }
  }
  @keyframes moveX {
    from { left: 0; } to { left: 170px; }
  }*/
  @-webkit-keyframes moveY {
    from { top: 0; } to { top: 170px; }
  }
  @-moz-keyframes moveY {
    from { top: 0; } to { top: 170px; }
  }
  @-o-keyframes moveY {
    from { top: 0; } to { top: 170px; }
  }
  @keyframes moveY {
    from { top: 0; } to { top: 170px; }
  }
